<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://imgur.com/jELwilR" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text">Criador e fundador do blogPessoal.</p>
      <p>Contatos:</p>
      
      <a href="https://www.instagram.com/andrepeduti/?hl=pt-br" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blanck">Instagram</a>
      <a href="https://api.whatsapp.com/send?phone=5511993033908" class="btn btn-outline-dark d-flex justify-content-center" target="_blanck">WhatsApp</a>
    </div>
  </div>
